*{
			margin: 0;
			padding: 0;
		}
		
		
		body{
			background: #212121;
			color: #fff;
			font-family: 'Poppins', sans-serif;
		}
		.hmm{
			padding: 50px;
		}
		
		.main{
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			min-height: 20vh;
		}
		.card {

 width: 190px;
 height: 254px;
background: rgba(0,0,0,.3);
 border-radius: 20px;
 position: relative;
 margin: 10px;
 font-family: inherit;
 padding: 10px;
}

.card span {
 font-weight: 600;
 color: white;
 text-align: center;
 display: block;
 padding-top: 10px;
 font-size: 1.3em;
}

.card .job {
 font-weight: 400;
 color: white;
 display: block;
 text-align: center;
 padding-top: 5px;
 font-size: 1em;
}

.card .img {
 width: 70px;
 height: 70px;
 border-radius: 100%;
 margin: auto;
 margin-top: 20px;
 justify-content: center;
 align-items: center;
 display: flex;
}
.card .img img{
	width: 70px;
	height: 70px;
}
.card button {
 padding: 8px 25px;
 display: block;
 margin: auto;
 border-radius: 8px;
 border: none;
 margin-top: 30px;
 background: #e8e8e8;
 color: #111111;
 font-weight: 600;
 cursor: pointer;
}

.card button:hover {
 background: #212121;
 color: #ffffff;
}

.group {
 display: flex;
 margin: 10px;
 align-items: center;
 position: relative;
 max-width: 70%;
}

.input {
	color: #fff;
 width: 100%;
 height: 30px;
 line-height: 28px;
 padding: 0 1rem;
 padding-left: 2.5rem;
 border: 2px solid transparent;
 border-radius: 8px;
 outline: none;
 background-color: rgba(255,255,255,.1);
 color: #0d0c22;
 transition: .3s ease;
}

.input::placeholder {
 color: #9e9ea7;
}

.input:focus, input:hover {
 outline: none;
 border-color: rgba(255,255,255,0.4);
 background-color: rgba(255,255,255,.2);
 box-shadow: 0 0 0 4px rgb(255 255 255 / 10%);
}

.icon {
 position: absolute;
 left: 1rem;
 fill: #9e9ea7;
 width: 1rem;
 height: 1rem;
}

 